<h1>Secrets:</h1>

<% @secrets.each do |secret| %>
    <div class="secret">
      <p><%= s.content %></p>
      <p><%= s.likes.count %> likes</p>
      <%= link_to "Like", secret_path(id:  secret ), method: :post %>
      <%= link_to "Delete", secret_path(id:  secret ), method: :delete if current_user == s.user %>
    </div>
<% end %>